
/* Navbar */
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 2px solid red;
  padding: 10px 0;
  width: 95%;
  max-width: 1000px;
}

.items {
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
}
.items li:first-child{
    margin-right: 15px;
}
ul {
  list-style-type: none;
}

/* li{
    padding: 15px 0;
} */
.link {
  color: #888888;
  text-decoration: none;
}
