.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
  font-weight: 400;
  padding-top: 2rem;
  
}
.back{
   background: white;
}
.underline {
  border: 2px solid #f24b6a;
  width: 36px;
  margin: 25px auto;
}

@media screen and (max-width: 900px) {
  .heading{
      font-size: 20px;
  }
}